{% extends "basecloud.html" %}
{% block css %}
            <style>
            .help-inline {
                display: block;
                margin-left: 70px;
                padding-top: 10px;
            }

            .error {
                color: #f00;
            }

            input.error {
                border-color: #f00;
            }
            .complain1,span ,button{
                font-size: 15px;

            }
            table button{
                border-radius: 0px 0px 0px 0px;
                width: 80px;
                height:30px;

            }
            table tr td{
                border: 1px solid #808080 ;

            }
            tr:first-child td{
               text-align: center;
                padding: 20px 20px;

            }
            table tr td{
                padding-left: 20px;
                padding-right: 20px;

            }
            tr:first-child{
                background-color: #26d6ff;
            }
            tr:hover {
                background-color: #26d6ff;
            }

        </style>

{% endblock %}
{% block container %}

    <div class="container" id="page">
        <!-- 主要内容区域 start -->
        <div style="width: 1210px">
            <div class="el_blank_h20"></div>

            <!-- 左侧 start -->
            <div class="el_w_203 fn_left">
                <!-- 服务列表 start -->
                <div class="sur_ix_serBox">
                    <!-- 元素 start -->
                    <a class="item_s1 item" href="/repair/create">
                        <i class="icon"></i>
                        <span class="title">报修</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s2 item" href="/admin/complain/">
                        <i class="icon"></i>
                        <span class="title">投诉</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s3 item" href="/property/createProperty">
                        <i class="icon"></i>
                        <span class="title">物业缴费</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s4 item" href="/property/createParking">
                        <i class="icon"></i>
                        <span class="title">停车费</span>
                    </a>
                    <!-- 元素 end -->
                    <!-- 元素 start -->
                    <a class="item_s5 item" href="/phoneRecharge">
                        <i class="icon"></i>
                        <span class="title">充值</span>
                    </a>
                    <!-- 元素 end -->
                    <!-- 元素 start -->
                    <a class="item_s6 item" href="/educate">
                        <i class="icon"></i>
                        <span class="title">教育</span>
                    </a>
                    <!-- 元素 end -->
                    <!-- 元素 start -->
                    <a class="item_s7 item" href="http://caizhijia.p.colourlife.com/">
                        <i class="icon"></i>
                        <span class="title">房屋</span>
                    </a>
                    <!-- 元素 end -->
                    <!-- 元素 start -->
                    <a class="item_s8 item" target="_blank" href="/life?type=1">
                        <i class="icon"></i>
                        <span class="title">餐饮</span>
                    </a>
                    <!-- 元素 end -->
                </div>
                <!-- 服务列表 end -->
            </div>
            <!-- 左侧 end -->
            <!-- 中部 start -->
            <div class="el_w_524 fn_left"style="width: 822px">

            {% if show %}
                <table >
                    <tr >
                        <td>选择</td><td>时间</td><td>投诉人</td><td>内容</td><td>图片证据</td><td>处理状态</td><td>满意度</td><td>处理人</td>
                    </tr>

                        {% for one_complain in complains %}

                             <tr class="except_one">
                                  <td ><input type="checkbox" id="{{ one_complain.id }}" name="chk"></td>
                                  <td>{{ one_complain.timestamp }}</td>
                                  <td>{{ one_complain.author.username }}</td>
                                  <td>{{ one_complain.content }}</td>
                                  <td>
                                      <a href="#big_image_{{ one_complain.id }}" data-toggle="modal" data-target="#big_image_{{ one_complain.id }}">
                                          <img src="/media/{{one_complain.src}}" style="height: 50px;width: 50px" >
                                      </a>
                                    <div class="modal fade" id="big_image_{{ one_complain.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_{{ one_complain.id }}" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel_{{ one_complain.id }}">图片详情</h4>
                                          </div>
                                          <div class="modal-body">
                                            <img src="/media/{{one_complain.src}}" >
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    {% if one_complain.status %}
                                            <div>已受理</div>
                                        {% else %}
                                            <div>未受理</div>
                                        {% endif %}
                                  </td>
                                   <td>{{one_complain.pleased  }}</td>
                                   <td>{{ one_complain.handler.profile.username }}</td>
                            </tr>
                          {% endfor %}
                </table>

                     <div class="paginator" style="padding:10px 240px;">
                        <span class="step-links">
                            {% if complains.has_previous %}
                                <a href="?page={{ complains.previous_page_number }}">《上一页》</a> &nbsp;
                            {% endif %}
                            <span class="current">
                                 当前页： {{ complains.number }}/{{ complains.paginator.num_pages }}.
                            </span> &nbsp;
                            {% if complains.has_next %}
                                <a href="?page={{ complains.next_page_number }}">《下一页》</a>
                            {% endif %}
                        </span>
                     </div>
                {% else %}
                    <div>无投诉</div>
                {% endif %}
            </div>
            <!-- 中部 end -->
             <!-- 右侧 start -->
            <div class="el_w_237 fn_right" style="width:172px">
                <div>
                    <span>选择处理人：</span>
                    <select>
                         {% for deal_person in deal_person_list %}
                                    <option value="{{ deal_person.profile.id }}">{{ deal_person.profile.username }}</option>
                          {% endfor %}
                    </select>
                    <div  style="margin-top:12px; ">
                       <button class="btn btn-primary" style="border-radius: 0px 0px 0px 0px;" id="deal_complain">
                        授权处理
                        </button>
                    </div>
                </div>
                <!-- 右侧焦点图 start -->
            </div>
            <!-- 右侧 end -->
            <div class="el_blank_h10 fn_clear"></div>
        </div>

    </div>
    <!-- page -->
</div>
{% endblock %}
{% block script %}
   <script type="text/javascript">
    $(function(){
     var checked_array = new Array();
     $('#deal_complain').click(function(){
         $('input[type="checkbox"][name="chk"]:checked').each(
                function() {
                    var id=$(this).attr('id');
                    checked_array.push(id);
                }
            );
        var deal_person_id=$('select option:selected').val();
         $.post('/deal/complain/',
                 {
                     'selected_complain_string':checked_array.toString().replace(/,/g, ""),
                     'deal_person_id':deal_person_id
                 }
         )
     });

    })
   </script>

{% endblock %}
