<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>亨通物业管理平台</title>
    <meta name="keywords" content="亨通,物业,管理,平台">
    <meta name="description" content="亨通,物业,管理,平台">
    <link href="/static/css/page.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/form.css" rel="stylesheet">
    <link href="/static/css/propertyFee.css" rel="stylesheet">
    <link href="/static/css/commonNew.css" rel="stylesheet">
    <link href="/static/css/baseNew.css" rel="stylesheet">
    <link href="/static/css/indexNew.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/colourlife.common.js"></script>
    <script src="/static/js/colourlife.form.js"></script>
</head>
<body class="s_info_lst">

<!-- 主导航栏 start -->
<div class="mainNav">
    <div class="mainNav_box el_container">
        <span class="nowPos">亨通物业管理平台</span>
        <!-- address start -->


        <!-- address end -->

        <a href="#" class="mainNav_item" title="小区首页">
            <span class="txt">小区首页</span>
        </a>

        <a href="#" class="mainNav_item" title="物业服务">
            <span class="txt">物业服务</span>
        </a>

        <a href="#" class="mainNav_item" title="本地生活">
            <span class="txt">本地生活</span>
        </a>

        <a href="#" class="mainNav_item" title="应用">
            <span class="txt">应用</span>
        </a>

        <a href="#" class="mainNav_item" title="管理">
            <span class="txt">管理</span>
        </a>

    </div>
</div>
<!-- 主导航栏 end -->
<div class="container" id="page">

    <div class="container" id="page">
        <style>
            .help-inline {
                display: block;
                margin-left: 70px;
                padding-top: 10px;
            }

            .error {
                color: #f00;
            }

            input.error {
                border-color: #f00;
            }
            .complain1,span ,button{
                font-size: 15px;

            }
            .complain1 button{
                border-radius: 0px 0px 0px 0px;
                width: 80px;
                height:30px;
                margin-left: 10px;
                margin-top: 30px

            }
        </style>

        <!-- 主要内容区域 start -->
        <div class="s_sur_ix main el_container">
            <div class="el_blank_h20"></div>

            <!-- 左侧 start -->
            <div class="el_w_203 fn_left" style="width:110px">
                <!-- 服务列表 start -->
                <div class="sur_ix_serBox" style="width:95px;">
                    <!-- 元素 start -->
                    <a class="item_s1 item" href="/repair/create">
                        <i class="icon"></i>
                        <span class="title">报修</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s2 item" href="/admin/complain/">
                        <i class="icon"></i>
                        <span class="title">投诉</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s3 item" href="/property/createProperty">
                        <i class="icon"></i>
                        <span class="title">物业缴费</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s4 item" href="/property/createParking">
                        <i class="icon"></i>
                        <span class="title">停车费</span>
                    </a>
                    <!-- 元素 end -->
                    <!-- 元素 start -->
                    <a class="item_s5 item" href="/phoneRecharge">
                        <i class="icon"></i>
                        <span class="title">充值</span>
                    </a>
                    <!-- 元素 end -->
                    <!-- 元素 start -->
                    <a class="item_s6 item" href="/educate">
                        <i class="icon"></i>
                        <span class="title">教育</span>
                    </a>
                    <!-- 元素 end -->
                    <!-- 元素 start -->
                    <a class="item_s7 item" href="http://caizhijia.p.colourlife.com/">
                        <i class="icon"></i>
                        <span class="title">房屋</span>
                    </a>
                    <!-- 元素 end -->
                    <!-- 元素 start -->
                    <a class="item_s8 item" target="_blank" href="/life?type=1">
                        <i class="icon"></i>
                        <span class="title">餐饮</span>
                    </a>
                    <!-- 元素 end -->
                </div>
                <!-- 服务列表 end -->
            </div>
            <!-- 左侧 end -->
            <!-- 中部 start -->
            <div class="el_w_524 fn_left">
            {% if show %}
                    {% for one_complain in complains %}
                        <div class="complain1" style="background-color: darkgrey;margin-bottom: 30px;height: 100px" id="{{ one_complain.id }}">
                            <div style="float: left">
                                <span>时间：{{ one_complain.timestamp }}</span>/
                                <span>{{ one_complain.author.username }}</span>/
                                <span>{{ one_complain.type }}</span>
                                <p>投诉内容：</p>
                                <div><span>{{ one_complain.content }}</span></div>
                            </div>
                            <div style="float: left;margin-left: 20px">
                                <img src="/media/{{one_complain.src}}" style="height: 100px;width: 100px">
                            </div>
                            <div style="float: left;margin-left: 20px;margin-top:10px">
                                <div style="background-color: darkgoldenrod;width:80px">满意度：{{one_complain.pleased  }}</div>
                                {% if one_complain.status %}
                                    <div><button class="btn btn-info ">已受理</button></div>
                                {% else %}
                                    <div><button class="btn btn-info">未受理</button></div>
                                {% endif %}

                            </div>
                         </div>
                     {% endfor %}
                     <div class="paginator" style="padding:0 150px;">
                        <span class="step-links">
                            {% if complains.has_previous %}
                                <a href="?page={{ complains.previous_page_number }}">《上一页》</a> &nbsp;
                            {% endif %}
                            <span class="current">
                                 当前页： {{ complains.number }}/{{ complains.paginator.num_pages }}.
                            </span> &nbsp;
                            {% if complains.has_next %}
                                <a href="?page={{ complains.next_page_number }}">《下一页》</a>
                            {% endif %}
                        </span>
                     </div>
                {% else %}
                    <div>无投诉</div>
                {% endif %}
            </div>
            <!-- 中部 end -->
             <!-- 右侧 start -->
            <div class="el_w_237 fn_right" style="border: 1px solid red ">
                <!-- 右侧焦点图 start -->
            </div>
            <!-- 右侧 end -->
            <div class="el_blank_h10 fn_clear"></div>

        </div>

    </div>
    <!-- page -->
</div>

</body>

</html>
