{% extends "basecloud.html" %}
{% block css %}
    <style>
        .help-inline {
            display: block;
            margin-left: 70px;
            padding-top: 10px;
        }

        .error {
            color: #f00;
        }

        input.error {
            border-color: #f00;
        }

        .repair1, span, button {
            font-size: 15px;

        }

        /*     table button{
                 border-radius: 0px 0px 0px 0px;
                 width: 80px;
                 height:30px;

             }
             table tr td{
                 border: 1px solid #808080 ;

             }
             tr:first-child td{
                text-align: center;
                 padding: 20px 20px;

             }
             table tr td{
                 padding-left: 20px;
                 padding-right: 20px;

             }
             tr:first-child{
                 background-color: #26d6ff;
             }
             tr:hover {
                 background-color: #26d6ff;
             }*/
        tr:first-child {
            background-color: #26d6ff;
        }

        tr:hover {
            background-color: #26d6ff;
        }

        .prev {
            margin-left: 200px !important;
        }

        .next {
            margin-left: 20px !important;
        }

        .dataTables_wrapper {
            padding-left: 0px !important;
        }

        .dataTables_paginate {
            float: right;
            margin-top: -20px;
        }

        .dataTables_paginate li {
            float: left
        }

        .dataTables_filter {
            float: right;
            margin-top: -25px
        }

        .container {
            width: 1260px !important;
        }

    </style>

{% endblock %}
{% block container %}

    <div class="container" id="page">
        <!-- 主要内容区域 start -->
        <div style="width: 1210px">
            <div class="el_blank_h20"></div>

            <!-- 左侧 start -->
            <div class="el_w_203 fn_left">
                <!-- 服务列表 start -->
                <div class="sur_ix_serBox">
                    <!-- 元素 start -->
                    <a class="item_s1 item" href="/repair/">
                        <i class="icon"></i>
                        <span class="title">报修</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s2 item" href="/complain/">
                        <i class="icon"></i>
                        <span class="title">投诉</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s3 item" href="#">
                        <i class="icon"></i>
                        <span class="title">物业缴费</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s4 item" href="#">
                        <i class="icon"></i>
                        <span class="title">停车费</span>
                    </a>
                    <!-- 元素 end -->
                    <!-- 元素 start -->
                    <a class="item_s5 item" href="#">
                        <i class="icon"></i>
                        <span class="title">充值</span>
                    </a>
                    <!-- 元素 end -->
                    <!-- 元素 start -->
                    <a class="item_s6 item" href="#">
                        <i class="icon"></i>
                        <span class="title">教育</span>
                    </a>
                    <!-- 元素 end -->
                    <!-- 元素 start -->
                    <a class="item_s7 item" href="/express/">
                        <i class="icon"></i>
                        <span class="title">快递</span>
                    </a>
                    <!-- 元素 end -->
                    <!-- 元素 start -->
                    <a class="item_s8 item" href="#">
                        <i class="icon"></i>
                        <span class="title">餐饮</span>
                    </a>



                    <!-- 元素 end -->
                </div>
                <!-- 服务列表 end -->
            </div>
            <!-- 左侧 end -->
            <!-- 中部 start -->
            <div class="vessel vessel_s1" style="margin-bottom: 10px">
                <div class="vessel_titBox"><span class="tit">快件管理</span></div>
            </div>
            <div style="width: 822px;overflow: auto;float:left">

                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable"
                       id="example" aria-describedby="example_info">
                    <thead>
                    <tr role="row">
                        <th>收件人</th>
                        <th>到达时间</th>
                        <th>取件时间</th>
                        <th>取件方式</th>
                        <th>处理状态</th>
                        {% if not is_admin %}
                            <th>处理人</th>
                        {% endif %}
                        <th>满意度</th>
                        <th><input type="checkbox" name="checkbox"></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for one_repair in repairs %}

                        <tr class="except_one">
                            <td>{{ one_repair.timestamp }}</td>
                            <td>{{ one_repair.author }}</td>
                            <td>{{ one_repair.content }}</td>
                            <td class="deal_status" id="status_{{ one_repair.id }}">
                                {% ifequal one_repair.status 1 %}
                                    <span style="color: red">未受理</span>
                                {% endifequal %}
                                {% ifequal one_repair.status 2 %}
                                    <span style="color: deepskyblue">处理中</span>
                                {% endifequal %}
                                {% ifequal one_repair.status 3 %}
                                    <span style="color: green">处理完成</span>
                                {% endifequal %}
                            </td>
                            {% if not is_admin %}
                                <td>{{ one_repair.handler.username }}</td>
                            {% endif %}
                            <td>{{ one_repair.pleased }}</td>
                            <td><input type="checkbox" name="chk" id={{ one_repair.id }}></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <!-- 中部 end -->
            <!-- 右侧 start -->
            <div class="el_w_237 fn_right" style="width:172px">
                <div style="margin-top:0px;">
                    <button class="btn btn-primary" data-toggle="modal"style="border-radius: 0px 0px 0px 0px;" data-target="#update_repair_status">
                        增加
                    </button>
                </div>
                <div class="modal fade" id="update_repair_status" tabindex="-1"
                     role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" >
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    增加快递记录</h4>
                            </div>
                            <div class="modal-body">
                                <div id="community" style="margin-left:10px ">
                                    <span>选择小区：</span>
                                    <select id="community_select">
                                        {% for community in communities %}
                                            <option value="{{ community.id }}">{{ community.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div style="margin-top:10px "><span>输入楼栋号</span>：<input type="text" name="building"></div>
                                <div style="margin-top:10px "><span>输入房间号</span>：<input type="text" name="room">
                                    <button class="btn btn-primary"style="border-radius: 0px 0px 0px 0px;height:30px;float: right" onclick="find_user(this)">
                                        查找
                                    </button>
                                </div>
                                <div id="no_result" class="alert alert-warning" style="margin-top:20px ;display: none">
                                    <span>没有此用户</span>
                                    <span class="glyphicon glyphicon-minus-sign"></span></div>
                                <div  id="show_find_result"style="display: none">
                                    <div id="show_find" class="alert alert-success" style="margin-top: 20px">

                                    </div>
                                    <div style="margin-top:10px " >
                                        <button class="btn btn-primary"style="border-radius: 0px 0px 0px 0px;height:30px;float: right" onclick="decide_add()">
                                            <span>确认</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 右侧 end -->
            <div class="el_blank_h10 fn_clear"></div>
        </div>
    </div>
    <!-- page -->
    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript">
        function find_user(obj)
            {
                 var community_id=$("#community_select").val();
                 var building_num=$('input[name="building"]').val();
                 var room_num=$('input[name="room"]').val();

                 $.post('/find/user/',
                        {
                            'community_id': community_id,
                            'building_num': building_num,
                            'room_num': room_num
                        },
                        function(data){
                            if(data.success){
                                $("#show_find").html("<span>"+data.community_name+"小区</span> <span>"+data.building_num+"幢</span> <span>"+data.room_num+"室</span>");
                                $("#no_result").hide();
                                $("#show_find_result").show();

                            }
                            else{
                                $("#show_find_result").hide();
                                $("#no_result").show();
                            }
                        }
                )
            }

        function decide_add()
            {
                var community_id=$("#community_select").val();
                var building_num=$('input[name="building"]').val();
                var room_num=$('input[name="room"]').val();

                $.post('/add/user_express/',
                        {
                            'community_id': community_id,
                            'building_num': building_num,
                            'room_num': room_num
                        },
                        function(data){
                             if(data.success){
                                $("#show_find").html("<span>添加成功</span>");
                                $("#show_find_result").show();

                            }

                        }
                )
            }

        $(document).ready(function () {
            $('#example').dataTable({
                "oLanguage": {
                    "sLengthMenu": "显示 _MENU_每页显示记录",
                    "sZeroRecords": "对不起没有你要找的记录",
                    "sInfo": "显示 _START_ 到 _END_ 总共 _TOTAL_ 条记录",
                    "sInfoEmpty": "显示 0 到 0 总共 0 记录",
                    "sInfoFiltered": "(从 _MAX_条记录中查找)",
                    "sSearch": "搜索:"
                }
            });
        });

    </script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/DT_bootstrap.js"></script>
{% endblock %}
