{% extends 'basecloud.html' %}
{% block title %}亨通物业管理平台{% endblock %}
{% block container %}
    <div class="container" id="page">
        <style>
            .help-inline {
                display: block;
                margin-left: 70px;
                padding-top: 10px;
            }

            .error {
                color: #f00;
            }

            input.error {
                border-color: #f00;
            }
        </style>

        <!-- 主要内容区域 start -->
        <div class="s_sur_ix main el_container">
            <div class="el_blank_h20"></div>

            <!-- 左侧 start -->
            <div class="el_w_203 fn_left">
                <!-- 服务列表 start -->
                <div class="sur_ix_serBox">
                    <!-- 元素 start -->
                    <a class="item_s1 item" href="/repair/">
                        <i class="icon"></i>
                        <span class="title">报修</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s2 item" href="/complain/">
                        <i class="icon"></i>
                        <span class="title">投诉</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s3 item" href="/property/createProperty">
                        <i class="icon"></i>
                        <span class="title">物业缴费</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s4 item" href="/property/createParking">
                        <i class="icon"></i>
                        <span class="title">停车费</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s5 item" href="/phoneRecharge">
                        <i class="icon"></i>
                        <span class="title">充值</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s6 item" href="/educate">
                        <i class="icon"></i>
                        <span class="title">教育</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s7 item" href="http://caizhijia.p.colourlife.com/">
                        <i class="icon"></i>
                        <span class="title">房屋</span>
                    </a>
                    <!-- 元素 end -->

                    <!-- 元素 start -->
                    <a class="item_s8 item" target="_blank" href="/life?type=1">
                        <i class="icon"></i>
                        <span class="title">餐饮</span>
                    </a>
                    <!-- 元素 end -->
                </div>
                <!-- 服务列表 end -->
            </div>
            <!-- 左侧 end -->

            <!-- 中部 start -->
            <div class="el_w_524 fn_left">
                <!-- 广告滚动 start -->
                <div class="sur_ix_by_skyScrollPicBox skyScrollPicBox">
                    <div class="skyScrollPicBox_btns">
                        <a class="skyScrollPicBox_btn"></a>
                        <a class="skyScrollPicBox_btn"></a>
                        <a class="skyScrollPicBox_btn"></a>
                        <a class="skyScrollPicBox_btn"></a>
                    </div>
                    <div class="skyScrollPicBox_pics">
                        <a href="#" class="skyScrollPicBox_picLink">
                            <img src="http://cc.colourlife.com/common/images/ad/13.jpg" class="skyScrollPicBox_pic">
                        </a>
                        <a href="#" class="skyScrollPicBox_picLink">
                            <img src="http://cc.colourlife.com/common/images/ad/14.jpg" class="skyScrollPicBox_pic">
                        </a>
                        <a href="#" class="skyScrollPicBox_picLink">
                            <img src="http://cc.colourlife.com/common/images/ad/15.jpg" class="skyScrollPicBox_pic">
                        </a>
                        <a target="_blank" href="http://mapp.colourlife.com/act/201310/wsq/index.html"
                           class="skyScrollPicBox_picLink">
                            <img src="http://cc.colourlife.com/common/images/ad/117.jpg" class="skyScrollPicBox_pic"/>
                        </a>
                    </div>
                </div>
                <!-- 广告滚动 end -->


            </div>
            <!-- 中部 end -->

            <!-- 右侧 start -->
            <div class="el_w_237 fn_right">
                <!-- 右侧焦点图 start -->
                <div>
                    <a href="#">
                        <img src="http://cc.colourlife.com/common/images/184x34.gif"/>
                    </a>
                </div>
                <!-- 右侧焦点图 end -->
                <!-- 通知 start -->
                <div class="sur_ix_infoBox">
                    <div class="titBox">
                        <i class="icon"></i>
                        <a class="title link" href="/notify">通知</a>
                    </div>

                    <div class="conBox">
                        <ul>

                        </ul>
                    </div>
                </div>
                <!-- 通知 end -->

                <!-- 登录注册 start -->
                <!-- 登录注册 end -->

                <!-- 物业费、停车费、手机充值 start -->
                <div class="defaultSwitchBox switchBox">
                    <div class="headBox">
                 <span class="headBox_itemBox first" tarIndex="1">
                     <a class="headBox_item">手机充值</a>
                 </span>
                    </div>
                    <div class="containBox">
                        <!-- 手机充值 start -->

                    </div>
                </div>
                <!-- 物业费、停车费、手机充值 end -->
            </div>
            <!-- 右侧 end -->
            <div class="el_blank_h10 fn_clear"></div>

        </div>

    </div>
    <!-- page -->
{% endblock %}
{% block script %}
    <script type="text/javascript">
        function goodsTab(obj, f) {
            var tag = $(obj).attr("tag");

            $(".tab_" + f).removeClass("lv_selected");
            $(obj).addClass("lv_selected");
            $(".tab_content_" + f).hide();
            $("#" + tag).show();
        }

        $(document).ready(function () {
            $(".tab_goods_content").map(function () {
                var obj = $(this).find("span:first-child");
                var key = $(obj).attr("key");
                goodsTab(obj, key);
            });

        });
        // 广告滚动
        $(".sur_ix_by_skyScrollPicBox").cl_skyScrollPicBox({
            "delay": 3000
        });

    </script>

{% endblock %}