{% extends "base.html" %}
{% block title %}用户注册{% endblock %}

{% block body_id %}id_body{% endblock %}
{% block body %}
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index/">项目名称</a>
            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" action="/login/" method="post">
                    <div class="form-group">
                        <input type="text" placeholder="用户名" class="form-control" name="username" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="密码" class="form-control" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-success">登陆</button>
                    <a class="btn btn-primary" href="/register/">注册</a>
                </form>
            </div>
        </div>
    </div>
    <div class="alert alert-danger" {% if not hide %}style="display:none;" {% endif %}>
            <strong>两次密码不一致。</strong>
    </div>
    <div class="alert alert-success" {% if not visible %}style="display:none;" {% endif %}>
            <strong>更新成功。</strong>
    </div>
    {% block content %}
        <div class="container">
            {% if error %}
                <div class="alert alert-danger">
                    <strong>{{ error_msg }}</strong>
                </div>
            {% endif %}
            <form class="form-signin" method="post" action="/update_profile/">
                <h2 class="form-signin-heading">更改密码</h2>
                <input name="username" type="text" class="form-control" placeholder="用户名" required autofocus>
                <input name="present_pwd" type="password" class="form-control" placeholder="当前密码" required>
                <input name="new_pwd" type="password" class="form-control" placeholder="新密码" required>
                <input name="conf_pwd" type="password" class="form-control" placeholder="确认密码" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">确认更改</button>
            </form>
        </div> <!-- /container -->

    {% endblock %}
{% endblock %}