{% extends "base.html" %}
{% block title %}用户注册{% endblock %}
{% block body_id %}id_body{% endblock %}
{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if username %}
                    <a class="navbar-brand" href="/dashboard/">项目名称</a>
                {% else %}
                    <a class="navbar-brand" href="/index/">项目名称</a>
                {% endif %}
            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" action="/login/" method="post">
                    <div class="form-group">
                        <input type="text" placeholder="用户名" class="form-control" name="username" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="密码" class="form-control" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-success">登陆</button>
                    <a class="btn btn-primary" href="/register/">注册</a>
                </form>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>
    {% block content %}
        <div class="container">
            {% if not success %}
                <div class="alert alert-danger">
                    <strong>{{ info }}</strong>
                </div>
            {% endif %}
            <form class="form-signin" method="post" action="/register/">
                {% csrf_token %}
                <h2 class="form-signin-heading">用户注册</h2>
                <input name="email" type="email" class="form-control" placeholder="邮箱地址" required autofocus>
                <input name="username" type="text" class="form-control" placeholder="用户名" required>
                <input name="password" type="password" class="form-control" placeholder="密码" required>

                <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
            </form>
        </div> <!-- /container -->
    {% endblock %}
{% endblock %}