{% extends "basecloud.html" %}

{% block container %}

    <!-- 主要内容区域 start -->
    <div class="s_lrf_reg main el_container">
        <div class="main_inner">
            <!-- 注册框 start -->
            <form class="form-horizontal" id="site-form" action="/site/reg" method="post">
                <div class="lrf_regBox lrf_optBox fn_left">
                    <div class="titItem">
                        <i class="icon"></i>
                        <span class="title">用户注册</span>
                    </div>
                    <div class="optItem">
                        <div class="optItem_item">
                            <label class="el_lab">用户名：</label>
                            <input class="el_inText" placeholder="请填写手机号/用户名" name="CustomerForm[username]"
                                   id="CustomerForm_username" type="text"/> <span class="tip">字母、数字、下划线组成，3位以上</span>
                        </div>
                        <div class="optItem_item">
                            <label class="el_lab">密码：</label>
                            <input class="el_inText" placeholder="请填写密码" name="CustomerForm[password]"
                                   id="CustomerForm_password" type="password"/> <span class="tip">字母、数字组成，6-15位</span>
                        </div>
                        <div class="optItem_item">
                            <label class="el_lab">重复密码：</label>
                            <input class="el_inText" placeholder="重复密码" name="CustomerForm[repeatPwd]"
                                   id="CustomerForm_repeatPwd" type="password"/>
                            <!--   <span class="tip">两次输入的密码不一样，请检查</span>  -->
                        </div>
                        <div class="optItem_item">
                            <label class="el_lab">地址：</label>
                            <input class="func_address el_inText" value="选择地址">
                            <input type="hidden" id="province_id"/>
                            <input type="hidden" id="city_id"/>
                            <input type="hidden" id="area_id"/>
                            <input name="CustomerForm[community_id]" id="CustomerForm_community_id" type="hidden"/>
                            <input name="CustomerForm[build_id]" id="CustomerForm_build_id" type="hidden"/> <input
                                name="CustomerForm[room]" id="CustomerForm_room" type="hidden"/>
                            <!--  <span class="tip">地址不能为空</span>  -->
                        </div>
                        <div class="optItem_item">
                            <label class="el_lab">手机号码：</label>
                            <input class="el_inText el_inText_sl" placeholder="手机号码" name="CustomerForm[mobile]"
                                   id="CustomerForm_mobile" type="text"/> <input type="button" id="btnSend"
                                                                                 class="code_by_el_btn el_btn"
                                                                                 value="获取验证码"/>

                        </div>
                        <div class="optItem_item">
                            <label class="el_lab">验证码：</label>
                            <input class="el_inText" placeholder="验证码" name="CustomerForm[code]"
                                   id="CustomerForm_code"
                                   type="text"/></div>
                        <div class="optItem_item optItem_item_btns">
                            <button type="submit" class="el_btn_orange_xl el_btn"><span class="txt">立即注册</span>
                            </button>
                        </div>
                    </div>
                    <div style="color: red;"></div>
                </div>

            </form>
            <!-- 注册框 end -->

            <!-- 注册页面侧栏 start -->
            <div class="lrf_regSideBox lrf_sideBox fn_right">
                <dl class="conList">
                    <dt class="title">怎样成为我们的会员？</dt>
                    <dd class="con">
                        <ol class="list">
                            <li class="list_item">1、注册成为我们会员;</li>
                            <li class="list_item">2、完善物业资料;</li>
                            <li class="list_item">3、审核通过;</li>
                        </ol>
                    </dd>
                    <dt class="title">成为我们的会员有什么好处？</dt>
                    <dd class="con">
                        <ol class="list">
                            <li class="list_item">1、方便快捷的物业服务;</li>
                            <li class="list_item">2、周边优惠信息一网打尽;</li>
                            <li class="list_item">3、天天特价每天一个惊喜;</li>
                        </ol>
                    </dd>
                </dl>
            </div>
            <!-- 注册页面侧栏 end -->
            <div class="fn_clear"></div>

        </div>
    </div>

{% endblock %}