{% extends "baseheader.html" %}
{% block title %}小区通知{% endblock %}
{% block css %}
     <style>
        .qq-upload-button {
            left: 0;
            top: 0;
            color: #9C9B9B;
            text-align: center;
            line-height: 100px;
            font-weight: bold;
            position: absolute;
            cursor: pointer;
        }

     .type{
         float: left;
         margin-left: 10px;

     }
     .out_container{
         float: left;
         padding-left: 30px
     }
     .img_container{
         width: 150px;
         height: 150px;
         background-color: #bad804;
         padding-top:45px;
         padding-left: 45px
     }
     .bottom_container{
         width: 180px;
         height: 140px;
         background-color: #e8e8e8;
         padding-top:45px;
         padding-left: 45px
     }
     .text_container{
         padding-left: 45px;
         padding-top: 10px
     }
     .img_limit{
         height:70px;
         width:100px;

     }
     .right_container{
         border: 1px solid #d8d8d8;
         margin-top: 10px;
         float: right;
         width:445px;
         height: 372px;
         background-color: #f5f5f5
     }
     .left_container_header{
          padding-left: 33px;
         padding-top: 5px;
         border-bottom:1px solid #d8d8d8;
         height: 35px
     }
     .service_title{
        background: url('/static/images/property_service.png') no-repeat;
         height:30px;
         margin-top: 15px
     }
     .left_container{
{#         border: 1px solid red;#}
         margin-top: 10px;
         float: left;
         width:518px;
     }
      .notification_container{
         height: 500px;
          background-color: #ffffff;
          margin-top: 0px;
          padding-top: 10px
        }
       .notification_container p{
            border-bottom: 1px #c0c0c0 dashed;
            padding-left: 10px;
            margin-top: 20px;
            width:750px;
            margin-left: 50px;
        }
        </style>
{% endblock %}
{% block container %}
     <div class="s_ifs_ix main el_container notification_container">
        <h4 style="margin-left: 30px"><strong>小区通知</strong></h4>
        <p>
           小区今天停电到2020年
        </p>
         <p>
           小区今天停电到2020年
        </p>
        <p>
           小区今天停电到2020年
        </p>
        <p>
           小区今天停电到2020年
        </p>
     </div>
{% endblock %}